.Rproj.user
.Rhistory
.RData
.Ruserdata

*.jpeg
*.jpg
*.png
!Sigillum.png
!bookdown-report/figures/sigillum-lmu.png
*.gif

*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
